<h4 class="display-6 m-4 shadow-sm h-auto w-25">投稿編集</h4>

  <%= form_with model: @comment, url: admin_comment_path(@comment.id), method: :patch do |f| %>
   <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label w-25 m-3">表題</label>
    <div class="w-25 m-4">
      <%= f.text_field :title, class: "form-control" %>
    </div>
   </div>

    <label for="exampleFormControlInput1" class="form-label w-25 m-3">内容</label>
    <div class="w-25 m-4">
     <div><%= f.text_area :content, class: "form-control" %></div>
    </div>

    <div class="w-25 m-4">
      <%= f.submit '▶編集する', class:'btn btn-sm btn-success' %>
      <% end %>
      <%= link_to "▷編集を止める", admin_comments_path, class:'btn btn-sm btn-danger px-2' %>
    </div>
