<h2>投稿一覧</h2>

   <table>
    <thead>
     <tr>
      <th>会員ID</th>
      <th>会員名</th>
      <th>表題</th>
      <th>内容</th>
      <th>投稿日</th>
      <th></th>
      <th></th>
     </tr>
  </thead>
   <tbody>
    <tr>
     <% @comments.each do |comment| %>
     <td><%= comment.customer.id %></td>
     <td>
       <%= link_to admin_customer_path(comment.customer.id) do %>
       <%= comment.customer.last_name %>  <%= comment.customer.first_name %>
       <% end %>
     </td>
     <td><%= comment.title %></td>
     <td><%= comment.content %></td>
     <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
     <td><%= link_to "▶編集", edit_admin_comment_path(comment.id) %></td>
       <%= form_with model: Comment, url: admin_comment_path(comment.id), method: :delete do |f| %>
     <td><%= f.submit '▶削除' %></td>
       <% end %>
    </tr>
    <% end %>
     </tbody>
    </table>