<h4 class="display-6 m-4 shadow-sm w-25 ml-5">投稿一覧</h4>

   <table class="table mx-auto" style="width: 70%">
    <thead class="thead-light">
     <tr>
      <th scope="col">会員ID</th>
      <th scope="col">会員名</th>
      <th scope="col">表題</th>
      <th scope="col">内容</th>
      <th scope="col">投稿日</th>
      <th></th>
      <th></th>
     </tr>
  </thead>
   <tbody>
    <tr scope="row">
     <% @comments.each do |comment| %>
     <td><%= comment.customer.id %></td>
     <td>
       <%= link_to admin_customer_path(comment.customer.id) do %>
       <%= comment.customer.last_name %>  <%= comment.customer.first_name %>
       <% end %>
     </td>
     <td><%= comment.title %></td>
     <td><%= comment.content %></td>
     <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
     <td><%= link_to "▶編集", edit_admin_comment_path(comment.id), class:'btn btn-sm btn-success' %></td>
     <td><%= link_to "▶削除",admin_comment_path(comment.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class:'btn btn-sm btn-danger px-2' %></td>
    </tr>
    <% end %>
     </tbody>
    </table>
