<section class="container">
  <h4 class="display-6 m-4 shadow-sm h-auto w-25">プラン詳細</h4>

  <div class="form-group mb-12 w-50 mx-auto">
   <%= image_tag @plan.image, size: "400x400",class:"m-5" %>
  </div>

      <table class="table">

     <tbody>
      <tr>
        <td style="width: 271px">プラン名</td>
        <td><%= @plan.name %></td>
      </tr>

      <tr>
        <td>税込金額(税抜)</td>
        <td><%= (@plan.tax_excluded_fee * 1.1).floor %>(<%= @plan.tax_excluded_fee %>)円</td>
      </tr>

      <tr>
        <td>素泊まり/食事付き</td>
        <td><%= @plan.meal_i18n %></td>
      </tr>

      <tr>
        <td>プラン説明</td>
        <td><%= simple_format(@plan.description) %></td>
      </tr>
    </tbody>
   </table>

      <%= form_with model: @reservation, url: plan_reservations_path(@plan), local: :true do |f| %>
      <%= f.hidden_field :plan_id, :value => @plan.id %>
      <% end %>
    <div class="form-group mb-12 w-25 mx-auto">
      <% if @plan.sales_status == "on_sale" %>
      <%= link_to "▶予約する", new_plan_reservation_path(@plan), class:'btn btn-primary mx-auto px-5 py-3' %>
        <% else %>
        <h4 class="text-secondary mx-auto">好評により売切れ</h4>
        <% end %>
    </div>
   </div>
  </section>


