<h2>予約編集</h2>

  <%= form_with model: @reservation, url: admin_reservation_path(@reservation.id), method: :patch, data: {confirm: "更新しますか？"} do |f| %>

        <label class="control-label" for="">宿泊日</label>
      <div><%= f.date_field :lodgment_date %></div>

      <label>泊数</label>
      <div><%= f.select :nights_number, [[1], [2], [3], [4], [5]], include_blank: "泊数選択" %>泊<div>

      <label>人数</label>※１室あたりの人数
      <div><%= f.select :count, [[1], [2]], include_blank: "人数選択" %>人<div>

      <label>室数</label>
      <div><%= f.select :room_number, [[1], [2], [3], [4], [5]], include_blank: "室数選択" %>室<div>

      <label>部屋タイプ</label>
      <div><%= f.select :room_id, options_from_collection_for_select(Room.all, :id, :name), {}, {class: "form-control"} %></div>

      <label>備考/要望</label>
      <div><%= f.text_area :note %></div>

       <%= f.submit '▶編集確定' %>

       <% end %>

  <%= form_with model: @reservation, url: admin_reservation_path(@reservation.id), method: :delete, data: {confirm: "本当に予約を削除しますか？"} do |f| %>
       <%= f.submit '▶予約削除' %>
       <% end %>