<h4 class="display-6 m-4 shadow-sm h-auto w-25">予約一覧 (全<%= @reservations.count %>件) </h4>

<!--検索フォーム-->
<%= search_form_for @q,url: admin_reservations_path do |f| %>
<div class="input-group w-25 m-4">
    <%= f.search_field :lodgment_date_cont, class:"form-control input-group-prepend", placeholder:"宿泊日を入力"  %>
  <span class="input-group-btn input-group-append">
  <submit><%= f.submit "🔍検索",class:"btn btn-primary" %></submit>
<% end %>
  </span>
</div>

<!--検索結果-->
<% if @reservations.present? %>
<table class="table table-bordered mx-auto" style="width: 90%">
  <thead style="background-color: ghostwhite">
    <tr>
      <th>予約ID</th>
      <th><%= sort_link(@q, :lodgment_date, "宿泊日") %></th>
      <th><%= sort_link(@q, :name, "プラン名") %></th>
      <th><%= sort_link(@q, :including_tax_total_amount, "合計金額(税込)") %></th>
      <th><%= sort_link(@q, :last_name, "予約者") %></th>
      <th><%= sort_link(@q, :gender, "性別") %></th>
      <th><%= sort_link(@q, :age, "年代") %></th>
      <th><%= sort_link(@q, :age, "ステータス") %></th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
    <tr>
        <td>
          <%= link_to  admin_reservation_path(reservation.id) do %>
          <%= reservation.id %>
          <% end %>
        </td>
        <td><%= reservation.lodgment_date.strftime('%Y/%m/%d') %></td>
        <td><%= reservation.plan.name %></td>
        <td><%= reservation.including_tax_total_amount %>円</td>
        <td>
          <%= link_to admin_customer_path(reservation.customer.id) do %>
          <%= reservation.customer.last_name %>  <%= reservation.customer.first_name %>
          <% end %>
        </td>
        <td><%= reservation.customer.gender %></td>
        <td><%= reservation.customer.age %>代</td>
        <td>
          <% if reservation.plan_status %>
            <div class="text-danger">取消済</div>
          <% else %>
            <div class="text-success">予約中</div>
          <% end %></td>
    <% end %>
    </tr>
  </tbody>
</table>
<% else %>
  <!--検索がヒットしなかった場合-->
  <p>検索結果はありません</p>
<% end %>