
<body>
<section class="container mx-auto ">
  <div class="row mx-auto">
    <div class="col-12 mx-auto">
 　      <h4 class="display-6 m-4 shadow-sm h-auto w-25">予約内容</h4>
 　        <%= link_to "▶予約を編除", edit_admin_reservation_path(@reservation), class:'btn btn-info mx-auto ' %>
          <table class="table mt-5">
           <tbody>
            <tr>
              <td style="width: 271px">宿泊日</td>
              <td><%= @reservation.lodgment_date.strftime('%Y/%m/%d') %></td>
            </tr>

            <tr>
              <td>泊数</td>
              <td><%= @reservation.nights_number %>泊</td>
            </tr>

            <tr>
              <td>人数</td>
              <td><%= @reservation.count %>人</td>
            </tr>

            <tr>
              <td>室数</td>
              <td><%= @reservation.room_number %>室</td>
            </tr>

            <tr>
              <td>部屋タイプ</td>
              <td><%= @reservation.room.name %></td>
            </tr>

            <tr>
              <td>備考/要望</td>
              <td><%= @reservation.note %></td>
            </tr>

            <tr>
              <td>ステータス</td>
              <td>
                <% if @reservation.plan_status %>
                  <div class="text-danger">取消済</div>
                <% else %>
                  <div class="text-success">予約中</div>
                <% end %></td>
            </tr>

          </tbody>
         </table>

<!--顧客情報確認-->
 　      <h4 class="display-6 m-4 shadow-sm h-auto w-25">顧客情報 </h4>
  　　　　　  <table class="table">
           <tbody>
            <tr>
              <td style="width: 271px">メール</td>
              <td><%= @reservation.customer.email %></td>
            </tr>

            <tr>
              <td>氏名</td>
              <td><%= @reservation.customer.last_name %>  <%= @reservation.customer.first_name %></td>
            </tr>

            <tr>
              <td>氏名(カナ)</td>
              <td><%= @reservation.customer.last_name_kana %>  <%= @reservation.customer.first_name_kana %></td>
            </tr>

            <tr>
              <td>郵便番号</td>
              <td><%= @reservation.customer.address_number %></td>
            </tr>

            <tr>
              <td>住所</td>
              <td><%= @reservation.customer.address %></td>
            </tr>

          </tbody>
         </table>

 　      <h4 class="display-6 m-4 shadow-sm h-auto w-25">プラン/支払情報</h4>
  　　　　  <table class="table">
         <tbody>
            <tr>
              <td style="width: 271px">プラン名</td>
              <td><%= @reservation.plan.name %></td>
            </tr>

            <tr>
              <td style="width: 271px">合計料金(税込)</td>
              <td><%= @reservation.including_tax_total_amount %>円</td>
            </tr>
          </tbody>
         </table>
    </div>
   </div>
  </section>
</body>