<body>
<section class="container mx-auto ">
  <div class="row mx-auto m-5">
     <div class="col-sm-12 col-xs-6 mx-auto">
  　　    <%= image_tag "MACCHI-TOP.png", width: "100%", height: "400px",class:"card-img-top" %>
  　  </div>
  　</div>
 　<div class="row mx-auto">
  　　  <% if customer_signed_in? %>
  　　<div class="col-sm-3 col-xs-12 mx-auto">
             <div>
              <%= link_to rooms_path,class: 'm-2 nav-link btn btn-outline-secondary' do %>
                部屋一覧
              <% end %>
             </div>
            </div>
      <div class="col-sm-3 col-xs-12 mx-auto">
             <div>
              <%= link_to plans_path, class:'m-2 nav-link btn btn-outline-secondary' do %>
               プラン一覧
              <% end %>
             </div>
            </div>
      <div class="col-sm-3 col-xs-12 mx-auto">
             <div>
              <%= link_to comments_path,class: 'm-2 nav-link btn btn-outline-secondary' do %>
               施設概要/レビュー
              <% end %>
         </div>
        </div>
        <% else %>
      <div class="col-6 mx-auto">
          <h5 class="mx-auto">ご利用の際は会員登録またはログインをお願い致します。</h5>
      </div>
        <% end %>
 　<div class="row mx-auto">
     <div class="col-12 mx-auto">
  　　  <h5 class="display-6 m-4 shadow-sm  w-50">新着お知らせ</h5>
        <ul class="news-list">
          <% @informations.first(4).each do |information| %>
            <li class="item">
              <%= link_to information_path(information.id) do %>
                    <p class="date "><%= information.created_at.strftime('%Y/%m/%d') %></p>
                    <p class="title" style="width: 600px"><%= information.title %></p>
               <% end %>
            </li>
          <% end %>
          </ul>
          <div class="text-right m-2">
            <%= link_to informations_path do %>
            > > 一覧を見る
            <% end %>
          </div>
        </div>
       </div>
     　<div class="row mx-auto m-5">
        <div class="col-sm-4 col-xs-12 mx-auto">
           <div class="card" style="width: 18rem;">
            <%= image_tag "home1.jpg", width: "100%", height: "200px",class:"card-img-top" %>
          <div class="card-body">
            <h5 class="card-title">Room</h5>
            <p class="card-text">『地球にやさしく』<br>お客様が安心出来るインテリア</p>
          </div>
         </div>
        </div>

        <div class="col-sm-4 col-xs-12 mx-auto">
           <div class="card" style="width: 18rem;">
            <%= image_tag "home2.jpg", width: "100%", height: "200px",class:"card-img-top" %>
          <div class="card-body">
            <h5 class="card-title">Front</h5>
            <p class="card-text">『笑顔の送り迎え』<br>毎日のお帰りをお待ち致します。</p>
          </div>
         </div>
        </div>

        <div class="col-sm-4 col-xs-12 mx-auto">
           <div class="card" style="width: 18rem;">
            <%= image_tag "home3.jpg", width: "100%", height: "200px",class:"card-img-top" %>
          <div class="card-body">
            <h5 class="card-title">Restaurant</h5>
            <p class="card-text">『朝から健康食』<br>栄養バランスを徹底した食事</p>
        </div>
       </div>
      </div>
     </div>
  </section>
 </body>