<h4 class="display-6 m-4 shadow-sm h-auto w-25">会員一覧</h4>
<!--検索フォーム-->
<%= search_form_for @q,url: admin_customers_path do |f| %>
<div class="input-group w-25 m-4">
  <%= f.search_field :last_name_cont, class:"form-control input-group-prepend", placeholder:"性"  %>
  <%= f.search_field :first_name_cont, class:"form-control input-group-prepend", placeholder:"名" %>
  <span class="input-group-btn input-group-append">
  <submit><%= f.submit "🔍検索",class:"btn btn-primary" %></submit>
  <% end %>
  </span>
</div>
<!--検索結果-->
<% if @customers.present? %>
  <table class="table table-striped mx-auto" style="width: 90%">
  <thead>
    <tr>
      <th>会員ID</th>
      <th><%= sort_link(@q, :last_name, "氏名") %></th>
      <th><%= sort_link(@q, :gender, "性別") %></th>
      <th><%= sort_link(@q, :age, "年代") %></th>
      <th><%= sort_link(@q, :unsubscribe_status, "ステータス") %></th>
    </tr>
  </thead>
  <tbody>
      <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td>
          <%= link_to admin_customer_path(customer.id) do %>
            <%= customer.last_name %><%= customer.first_name %>
          <% end %>
      </td>

      <td>
        <%= customer.gender %>
      </td>

      <td>
        <%= customer.age %>代
      </td>

      <td>
        <% if customer.unsubscribe_status %>
            <div class="text-danger">退会</div>
          <% else %>
            <div class="text-success">有効</div>
          <% end %>
      </td>
    </tr>
      <% end %>
  </tbody>
</table>
<% else %>
  <!--検索がヒットしなかった場合-->
  <p>検索結果はありません</p>
<% end %>
