<h2>会員一覧</h2>
<!--検索フォーム-->
<%= search_form_for @q,url: admin_customers_path do |f| %>
  <%= f.search_field :last_name_cont %>
  <%= f.submit "検索" %>
<% end %>
<!--検索結果-->
<% if @customers.present? %>
  <table>
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>性別</th>
      <th>年代</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
      <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td>
          <%= link_to admin_customer_path(customer.id) do %>
            <%= customer.last_name %><%= customer.first_name %>
          <% end %>
      </td>

      <td>
        <%= customer.gender %>
      </td>

      <td>
        <%= customer.age %>代
      </td>

      <td>
        <% if customer.unsubscribe_status %>
            <div>退会</div>
          <% else %>
            <div>有効</div>
          <% end %>
      </td>
    </tr>
      <% end %>
  </tbody>
</table>
<% else %>
  <!--検索がヒットしなかった場合-->
  <p>検索結果はありません</p>
<% end %>
