<body>
<section class="container mx-auto ">

  <div class="row mx-auto">
 　  <div class="col-12 mx-auto">
<!--お知らせ投稿-->
     <h4 class="display-6 m-4 shadow-sm mx-auto w-100">お知らせ編集</h4>
     <!--エラーメッセージ-->


    <%= form_with model: @information, url: admin_information_path(@information.id), method: :patch do |f| %>
     <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label w-25 m-3">表題</label>
      <div class="w-75 m-4">
        <%= f.text_field :title, class: "form-control" %>
      </div>
     </div>

      <label for="exampleFormControlInput1" class="form-label w-25 m-3">内容</label>
      <div class="w-75 m-4">
       <div><%= f.text_area :content, size: "30x10", class: "form-control" %></div>
      </div>

      <div class="w-25 m-4">
        <%= f.submit '▶編集する', class:'btn btn-sm btn-success' %>
        <% end %>
        <%= link_to "▷編集を止める", admin_comments_path, class:'btn btn-sm btn-danger px-2' %>
      </div>
    </div>
   </div>
  </section>
 </body>