  <h4 class="display-6 m-4 shadow-sm m-5 w-25">予約一覧</h4>
<table class="table table-bordered mx-auto" style="width: 90%">
  <thead style="background-color: ghostwhite">
    <tr>
      <th style="width: 100px">宿泊日</th>
      <th style="width: 100px">泊数</th>
      <th style="width: 100px">人数</th>
      <th style="width: 100px">室数</th>
      <th style="width: 400px">プラン名</th>
      <th style="width: 200px">部屋タイプ</th>
      <th style="width: 200px">合計料金(税込)</th>
      <th>備考</th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
    <tr>
        <td><%= reservation.lodgment_date.strftime('%Y/%m/%d') %></td>
        <td><%= reservation.nights_number %>泊</td>
        <td><%= reservation.count %>人</td>
        <td><%= reservation.room_number %>室</td>
        <td><%= reservation.plan.name %></td>
        <td><%= reservation.room.name %></td>
        <td><%= reservation.including_tax_total_amount %>円</td>
        <td><%= reservation.note %></td>
    <% end %>
    </tr>
  </tbody>
</table>