<body>
<section class="container mx-auto ">
  <div class="row mx-auto">
    <div class="col-12 mx-auto">
 　      <h4 class="display-6 m-4 shadow-sm h-auto w-25">予約申し込み入力 </h4>

<%= form_with model: @reservation, url:plan_reservations_check_path(@plan), local:true do |f| %>

      <label for="exampleFormControlInput1" class="form-label w-25 ms-1 mt-4">宿泊日</label>
      <div><%= f.date_field :lodgment_date, class: "form-control w-25" %></div>

      <label for="exampleFormControlInput1" class="form-label w-25 ms-1 mt-4">泊数</label>
      <div><%= f.select :nights_number, [[1], [2], [3], [4], [5]], include_blank: "泊数選択" %>泊<div>

      <label for="exampleFormControlInput1" class="form-label w-25 ms-1 mt-4">人数 ※１室あたりの人数</label>
      <div><%= f.select :count, [[1], [2]], include_blank: "人数選択" %>人<div>

      <label for="exampleFormControlInput1" class="form-label w-25 ms-1 mt-4">室数</label>
      <div><%= f.select :room_number, [[1], [2], [3], [4], [5]], include_blank: "室数選択" %>室<div>

       <label for="exampleFormControlInput1" class="form-label w-25 ms-1 mt-4">部屋タイプ</label>
      <div><%= f.select :room_id, options_from_collection_for_select(Room.all, :id, :name), {}, {class: "form-control w-25"} %></div>

      <label for="exampleFormControlInput1" class="form-label w-25 ms-1 mt-4">備考/要望</label>
      <div><%= f.text_area :note, class: "form-control w-75" %></div>
      <%= f.hidden_field :plan_id, value: @plan.id %>
      <%= f.hidden_field :customer_id, value: current_customer.id %>

    <div class="form-group mb-12 w-25 mx-auto">
       <%= f.submit '確認画面へ進む', class:'btn btn-success mx-auto m-5 px-5 py-3' %>
      <% end %>
    </div>
   </div>
  </section>