<h4 class="display-6 m-4 shadow-sm h-auto w-25">プラン編集</h4>

   <%= form_with model: @plan, url: admin_plan_path(@plan.id), method: :patch do |f| %>

  <div class="container m-0">
   <div class="row-4">
    <div class="form-group mb-12 w-50 m-0">
      <label for="exampleFormControlInput1" class="form-label w-25 ms-1 my-3">画像</label>
       <div class="col-sm-10">
        <%= f.file_field :image, accept: "image/*", class: "custom-file-input" %>
        <label class="custom-file-label" data-browse="参照">ファイル選択...</label>
      </div>
     </div>

    <div class="form-group mb-12 w-50 my-0">
     <label for="exampleFormControlInput1" class="form-label w-50 ms-1 mt-4">プラン名</label>
     <div class="w-70 mb-4 ms-4 em-4 mt-0">
      <%= f.text_field :name, class: "form-control"  %>
     </div>
    </div>

    <div class="form-group mb-12 w-25 my-0">
     <label for="exampleFormControlInput1" class="form-label w-50 ms-1 my-1">販売料金(税抜)</label>
     <div class="w-70 mb-4 ms-4 em-4 mt-0">
      <%= f.text_field :tax_excluded_fee, class: "form-control d-inline" %>
     </div>

     </div>

    <div class="form-group mb-12 w-70 my-0">
     <label for="exampleFormControlInput1" class="form-label w-50 ms-1 my-1">素泊まり/食事付き</label>
     <div class="w-70 mb-4 ms-4 em-4 mt-0">
      <div class="col-lg-4">
       <%= f.radio_button :meal, Plan.meals.key(0), class: "checkbox"  %>
       <%= f.label :meal_no_meal, Plan.meals_i18n[:no_meal], class: "radio" %>
       <%= f.radio_button :meal, Plan.meals.key(1), class: "checkbox"  %>
       <%= f.label :meal_has_meal, Plan.meals_i18n[:has_meal], class: "radio" %>
     </div>
    </div>
   </div>

    <div class=="form-group mb-12 w-50 my-0">
     <label for="exampleFormControlInput1" class="form-label w-50 ms-1 my-1">プラン説明</label>
     <div class="w-50 mb-4 ms-4 em-4 mt-0">
       <%= f.text_area :description, class: "form-control" %>
      </div>
    </div>

    <div class="form-group mb-12 w-70 my-0">
     <label for="exampleFormControlInput1" class="form-label w-50 ms-1 my-1">販売ステータス</label>
     <div class="w-70 mb-4 ms-4 em-4 mt-0">
      <div class="col-lg-4">
       <%= f.radio_button :sales_status, Plan.sales_statuses.key(0), class: "checkbox" %>
       <%= f.label :sales_status_stopping_sales, Plan.sales_statuses_i18n[:stopping_sales], class: "radio" %>
       <%= f.radio_button :sales_status, Plan.sales_statuses.key(1), class: "checkbox" %>
       <%= f.label :sales_status_on_sale, Plan.sales_statuses_i18n[:on_sale], class: "radio" %>
     </div>
    </div>
   </div>

      <div>
       <%= f.submit '▶編集する', class:'btn btn-sm btn-success' %>
      </div>

    <% end %>
  </div>
 </div>