<h4 class="display-6 m-4 shadow-sm h-auto w-25">プラン一覧</h4>

 <div class= "m-4">
  <%= link_to "▶新規プラン登録",new_admin_plan_path, class:'btn btn-primary' %>
 </div>

   <table class="table mx-auto my-3" style="width: 70%">
    <thead class="thead-light">
     <tr>
      <th scope="col">プランID</th>
      <th scope="col">イメージ</th>
      <th scope="col">プラン名</th>
      <th scope="col">税込価格</th>
      <th scope="col">食事付き/無し</th>
      <th scope="col">販売ステータス</th>
      <th scope="col">会員お気に入り数</th>
     </tr>
    </thead>
    <tbody>
     <% @plans.each do |plan| %>
     <tr>
      <td><%= plan.id %></td>
      <td>
         <%= image_tag plan.image, size: "60x60" %>
      </td>
      <td><%= link_to plan.name.truncate(15), admin_plan_path(plan.id) %></td>
      <td><%= (plan.tax_excluded_fee * 1.1).floor %>円</td>
      <td><%= plan.meal_i18n %></td>
      <td><% if plan.sales_status == "on_sale" %>
             <span class="text-success">販売中</span>
          <% else %>
             <span class="text-secondary">販売停止中</span>
          <% end %>
      </td>
      <!--お気に入り挿入箇所-->
      <td><span style="color:red;">❤︎</span><%= plan.favorites.count %>件</td>
     </tr>
     <% end %>
    </tbody>
   </table>