<section class="container">
  <h4 class="display-6 m-4 shadow-sm h-auto w-25">プラン詳細</h4>
  <div class="form-group mb-12 w-50 mx-auto">
    <% if @plan.image.attached? %>
     <%= image_tag @plan.image, size: "400x400" %>
    <% else %>
     <%= image_tag 'no_image.jpg', size: "400x400" %>
    <% end %>
  </div>

      <table class="table">

     <tbody>
      <tr>
        <td style="width: 271px">プラン名</td>
        <td><%= @plan.name %></td>
      </tr>

      <tr>
        <td>税込金額(税抜)</td>
        <td><%= (@plan.tax_excluded_fee * 1.1).floor %>(<%= @plan.tax_excluded_fee %>)円</td>
      </tr>

      <tr>
        <td>素泊まり/食事付き</td>
        <td><%= @plan.meal_i18n %></td>
      </tr>

      <tr>
        <td>プラン説明</td>
        <td><%= simple_format(@plan.description) %></td>
      </tr>
       <td>販売ステータス</td>
       <td><% if @plan.sales_status == "on_sale" %>
        <span class="text-success">販売中</span>
        <% else %>
        <span class="text-secondary">販売停止中</span>
        <% end %></td>
    </tbody>
   </table>
    <div class="form-group mb-12 w-25 mx-auto">
      <%= link_to "▶編集する",edit_admin_plan_path(@plan.id), class:'btn btn-success mx-auto px-5 py-3' %>
    </div>
   </div>
  </section>