<!DOCTYPE html>
<html>
  <head>
    <title>MacchiIn</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
 <header style="width: 100%; height: auto; background-color: #FAF0E6">

  <div>
    <nav class="navbar navbar-expand-sm">

      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="container-fluid">
        <% if admin_signed_in? %>

        <h4 class="m-3">管理者画面</h4>
      　<ul class="navbar-nav ml-auto mr-5 list-unstyled">
         <li class="d-flex align-items-center">
         <div class="btn-group dropdown mr-auto mr-5">
          <button class="btn btn-secondary dropdown-toggle mr-auto" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            MENU LIST
          </button>
           <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button">
              <%=  link_to admin_customers_path,class: 'm-4 nav-link btn btn-outline-secondary' do %>
                会員一覧
              <% end %>
            </button>
            <button class="dropdown-item" type="button">
              <%= link_to admin_reservations_path,class: 'm-4 nav-link btn btn-outline-secondary' do %>
                予約一覧
              <% end %>
            </button>
            <button class="dropdown-item" type="button">
              <%=  link_to admin_plans_path ,class: 'm-4 nav-link btn btn-outline-secondary' do %>
                プラン一覧
              <% end %>
            </button>
            <button class="dropdown-item" type="button">
              <%= link_to admin_rooms_path,class: 'm-4 nav-link btn btn-outline-secondary' do %>
                部屋一覧
              <% end %>
            </button>
            <button class="dropdown-item" type="button">
              <%= link_to admin_comments_path,class: 'm-4 nav-link btn btn-outline-secondary' do %>
                投稿一覧
              <% end %>
            </button>
            <button class="dropdown-item" type="button">
              <%= link_to destroy_admin_session_path, method: :delete,class: 'm-4 nav-link btn btn-outline-secondary' do %>
                ログアウト
                <% end %>
            </button>
          </div>
        </div>
       </li>
      </ul>

        <% elsif customer_signed_in? %>
      <div class="collapse navbar-collapse justify-content-end">
          <% if customer_signed_in? %>
          <%= link_to root_path, class:'navbar-brand' do %>
            <%= image_tag "MACCHI-LOGO.png", width: "100%", height: "130px" %>
          <% end %>
          <% else %>
           <%= image_tag "MACCHI-LOGO.png", width: "100%", height: "130px" %>
          <% end %>
          <ul class="navbar-nav ml-auto list-unstyled">
            <li class="d-flex align-items-center">
              ようこそ、<%= @customer.last_name %>  <%= @customer.first_name %>  様
            </li>
            <li>
              <%= link_to customers_path,class: 'm-4 nav-link btn btn-outline-secondary' do %>
                マイページ
               <% end %>
            </li>
            <li>
             <%= link_to plans_path, class:'m-4 nav-link btn btn-outline-secondary' do %>
               プラン一覧
             <% end %>
            </li>
            <li>
              <%= link_to favorites_customers_path,class: 'm-4 nav-link btn btn-outline-secondary' do %>
               お気に入り一覧
              <% end %>
            </li>
            <li>
              <%=  link_to reservations_path ,class: 'm-4 nav-link btn btn-outline-secondary' do %>
                予約一覧
              <% end %>
            </li>
            <li>
              <%= link_to destroy_customer_session_path, method: :delete,class: 'm-4 nav-link btn btn-outline-secondary' do %>
                ログアウト
              <% end %>
            </li>
          </ul>
        </div>
<!--render 'layouts/search' -->
        <% else %>

        <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav ml-auto list-unstyled">
            <li>
              <%= link_to new_customer_registration_path,class: 'm-4 nav-link btn btn-outline-secondary' do %>
                新規登録
              <% end %>
            </li>
            <li>
              <%= link_to new_customer_session_path ,class: 'm-4 nav-link btn btn-outline-secondary' do %>
                ログイン
              <% end %>
            </li>
            <li>
              <%= link_to 'ゲストログイン', homes_guest_sign_in_path, method: :post ,class: 'm-4 nav-link btn btn-outline-secondary' %>
            </li>
          </ul>
        </div>
        <% end %>
      </div>
    </nav>
  </div>
</header>
  <h5 class="text-success m-3">
   <%= flash[:notice] %>
  </h5>

  <h5 class="text-danger m-3">
   <%= flash[:alert] %>
  </h5>


  <body>

    <%= yield %>
  </body>
</html>

<footer>
  <div class="w-100 mt-5 mb-5" style="background-color: #FAF0E6; height: 70px"></div>
  <div class="container small my-5 pt-4">
    <div class="row justify-content-center">
    <% if customer_signed_in? %>
      <div class="col-md-2">
        <p>宿泊約款</p>
        <p>ご利用ガイド</p>
        <p>お問い合わせ</p>
      </div>
      <div class="col-md-2">
        <p>よくあるご質問</p>
        <p>プライバシーポリシー</p>
        <p>当館までのアクセス</p>
      </div>
    <% elsif admin_signed_in? %>
      <div class="col-md-2">
        <p>ご利用ガイド</p>
        <p>お問い合わせ</p>
      </div>
      <div class="col-md-2">
        <p>よくあるご質問</p>
        <p>会員情報保護保護について</p>
      </div>
    <% end %>
    </div>
    <div class="row justify-content-center mt-4" style="font-size: 5px;">
      ©2023 まっち
    </div>
  </div>
</footer>